/**/*.env
*.env
.env
.env.*
!/.env.example

# Go build
/bin/
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# DB
/pgdata/

# IDE
*/.vscode/
.vscode/
/.idea/
.idea/
*.swp
*~

# Logs
*.log

coverage.out
coverage.html
profile.out


.DS_Store
Thumbs.db